<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO인터페이스 연결 -->
<mapper namespace="kr.or.dgit.bigdata.swmng.mappers.SaleMapper">

	<select id="selectBetweenDates" resultType="Sale">
		SELECT
		no,shopName,title,orderCount,payment,date FROM sale
		WHERE date &gt;=
		#{param1} and date &lt;=#{param2}
		ORDER BY no
	</select>

	<select id="selectAllSortDate" resultType="Sale">
		SELECT
		date,category,title,no,orderCount,sellPrice FROM sale
		ORDER BY date, no
	</select>

	<select id="selectAllSortSupplier" resultType="Sale">
		SELECT
		coName,date,shopName,title,category,orderCount,supPrice
		FROM sale ORDER
		BY coname,date
	</select>

	<select id="selectAllGroupByConame" resultType="map">
		SELECT shopName,
		sum(orderCount) as totalCnt FROM sale
		group by shopName
	</select>
	<select id="selectSalesOfEach" resultType="map">
		select shopName,sum(m)
		as result
		from (select shopname,orderCount*sellPrice m from sale) temp
		group by shopName order by result desc;
	</select>

	<!-- 문한추가 -->
	<select id="selectBuyerStateSales" resultType="Sale">
		select
		shopName,title,orderCount,payment,sellPrice from sale order by
		shopName
	</select>
	<select id="selectSaleshopName" resultType="Sale">
		select distinct
		shopName from sale order by shopName
	</select>
	<select id="selectSaleshopNameByAll" resultType="Sale"
		parameterType="Sale">
		select shopName,title,orderCount,payment,sellPrice
		from
		sale where shopName = #{shopName} order by title
	</select>
	
	<select id="selectAllForSWSalesTable" resultType="Sale">
		select
		title,category,coName,(orderCount*supPrice) supAmount,
		(orderCount*sellPrice) saleAmount,
		((orderCount*sellPrice)-(orderCount*supPrice)) saleProfits
		from sale

	</select>
	
	<select id="selectAllForSWSalesTableByTitle" parameterType="String" resultType="Sale">
		select
		title,category,coName,(orderCount*supPrice) supAmount,
		(orderCount*sellPrice) saleAmount,
		((orderCount*sellPrice)-(orderCount*supPrice)) saleProfits
		from sale
		where title = #{title} ORDER BY category
	</select>
	
	
	<!-- 경아꺼 -->
		<insert id="insertItem" parameterType="Sale">
		insert into sale(no,shopName,title,orderCount,payment,date,supPrice,sellPrice,coName,category) 
		values(#{no},#{shopName},#{title},#{orderCount},#{payment},#{date},#{supPrice},#{sellPrice},#{coName},#{category})
	</insert>
	
	<select id="selectMaxNo" resultType="Sale">
		SELECT MAX(no)+1 no FROM sale
	</select>
	

</mapper> 