<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO인터페이스 연결 -->
<mapper namespace="kr.or.dgit.bigdata.swmng.mappers.SoftwareMapper">

	<!-- 조인시 사용할 리절트맵 생성 -->
	<resultMap type="Software" id="softwareResult">
		<id property="no" column="no" />
		<result property="category" column="category" />
		<result property="title" column="title" />
		<result property="picPath" column="picPath" />
		<result property="supPrice" column="supPrice" />
		<result property="sellPrice" column="sellPrice" />
		<result property="coName2" column="coName2" />

		<association property="coName"
			resultMap="kr.or.dgit.bigdata.swmng.mappers.CompanyMapper.companyResult" />
	</resultMap>


	<select id="selectAllByTitle" resultType="Software">
		select * from software where title=#{title}
	</select>
	<select id="selectAll" resultType="Software" resultMap="softwareResult">
		SELECT
		s.*, c.* FROM software s, company c
		WHERE s.coname=c.coname ORDER BY
		s.no
	</select>

	<select id="selectTitle" resultType="Software">
		SELECT DISTINCT title FROM
		software
	</select>
	<select id="selectByNo" parameterType="int" resultType="Software"
		resultMap="softwareResult">
		SELECT
		s.no,s.category,s.title,s.supPrice,s.sellPrice,c.coName,s.picpath FROM
		software
		s,company c WHERE c.coname = s.coname and s.no
		=
		#{no}
	</select>
	<select id="selectTitleJoinSale" resultType="Software">
		SELECT DISTINCT
		sw.title FROM software sw,sale s WHERE sw.title=s.title AND
		s.shopname
		= #{shopName}
	</select>
	<select id="selectMaxNo" parameterType="int" resultType="Software">
		SELECT
		MAX(no)+1 no FROM software
	</select>

	<select id="selectCategory" resultType="Software">
		SELECT DISTINCT category
		FROM software
	</select>

	<insert id="insertItem" parameterType="Software">
		INSERT INTO
		software(no,category,title,supprice,sellprice,coname,picpath)
		VALUES(#{no},#{category},#{title},#{supPrice},#{sellPrice},#{coName2},#{picPath})
	</insert>


	<delete id="deleteItem" parameterType="int">
		DELETE FROM software WHERE
		no = #{no}
	</delete>

	<!-- 항목 수정시 이미지 파일 수정 없을시 기존 이미지 파일 보존 -->
	<update id="updateItem" parameterType="Company">
		UPDATE software SET
		no=#{no}, category=#{category}, title= #{title},
		supPrice=
		#{supPrice}, sellPrice= #{sellPrice}, coName=
		#{coName2}
		<choose>
			<when test="picPath != null">
				,picPath
				=#{picPath} WHERE no =
				#{no}
			</when>
			<otherwise>
				WHERE no =
				#{no}
			</otherwise>
		</choose>
	</update>

	<!-- 문한추가 -->

	<!-- 필요한가? ┐ -->
	<select id="softwareViewAll" resultMap="softwareResult">
		select
		so.title,so.category,c.coName,orderCount*so.supPrice supplyMony,
		sa.orderCount*so.sellPrice sellMony,
		sa.orderCount*so.sellPrice-sa.orderCount*so.supPrice sellProfits
		from
		software so,sale sa,company c where so.coName=c.coName and
		so.title=sa.title
	</select>


	<select id="selectSoftwareBytitle" resultType="Software">
		select distinct
		title from software ORDER BY title

	</select>

	<select id="selectSWBytitle" resultMap="softwareResult">
		select
		category,supPrice,sellPrice,picPath, coName as coName2
		from software
		where
		title=#{title}
	</select>

	<!-- 필요한가? ┐ -->
	<select id="softwareViewBytitle" resultMap="softwareResult">
		select
		so.title,so.category,c.coName,sum(orderCount*so.supPrice) supplyMony,
		sum(sa.orderCount*so.sellPrice) sellMony,
		sum(sa.orderCount*so.sellPrice-sa.orderCount*so.supPrice) sellProfits
		from software so,sale sa,company c where so.coName=c.coName and
		so.title=sa.title and so.title = #{title} ORDER BY so.category
	</select>

</mapper>
